.navbar-toggler-icon::before,
.navbar-toggler-icon::after,
.navbar-toggler-icon {
    background: var(--primary-color);
    height: 3px;
    border-radius: 2px;
    transition: all var(--transition-normal);
    background: unset;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transform: unset;
    bottom: 0;
    background: var(--primary-color);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    transform: unset;
    bottom: 0;
    background: var(--primary-color);
}

.hero-badge {
    margin-top: 80px;
}

.vision-item {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.vision-content {
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 767.98px) {
  .vision-item {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}